body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing:antialiased;
  color:$color;
  font-family:$font-family;
  font-size:$font-size-smallscreens;
  @include min-screen(nth($res-collection, 2)*1px) {
    font-size:$font-size;
  }
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family:$font-family-secondary;
}
h1, h2, h3, h4, h5, h6 {
  @extend .h1;
}
.h1, h1 {
  font-size:$h1;
}
.h2, h2 {
  font-size:$h2;
}
.h3, h3 {
  font-size:$h3;
}
.h4, h4 {
  font-size:$h4;
}
.h5, h5 {
  font-size:$h5;
}
.h6, h6 {
  font-size:$h6;
}
p {
  line-height:$line-height;
  text-align:center;
  @include min-screen(nth($res-collection, 2)*1px) {
    text-align:left;
  }
}
a, a:visited {
  color:black;
}
a:active {
  color:$light-grey;
}
a:hover {
  color:$light-grey;
}
em, i, q {
  font-style:italic;
}
ul {

}
ol {

}
li {
  line-height:$line-height;
}
strong, b { 
  font-weight:800;
}
small {
  font-size:$h6;
  line-height:1em;
}
