//
//
// MEDIA QUERIES
//
$res-collection:                      (320, 480, 768, 1024, 1280, 1680);
$orientation-collection:              (all, portrait, landscape);
//
//
// TYPOGRAPHY
//
// Families
$font-family:                         "franklin-gothic";
$font-family-secondary:               "franklin-gothic";
$font-family-tertiary:                "franklin-gothic", helvetica;
// Sizes
$font-size:                           1em;

$h1:                                  5em;
$h2:                                  3em;
$h3:                                  1.5em;
$h4:                                  1.0em;
$h5:                                  0.8em;
$h6:                                  0.7em;
// Weights
$font-light:                          100;
$font-bold:                           800;
// Line Height
$line-height:                         1.5em; // 1.5em default
$line-height-small:                   $line-height/2;
$line-height-medium:                  $line-height*2;
$line-height-large:                   $line-height*4;
// Letter Spacing
$letter-spacing:                      0.1em;
$letter-spacing-medium:               $letter-spacing*2;
$letter-spacing-large:                $letter-spacing*3;
//
//
// SPACING
//
$spacing-base:                        2.7em;
$spacing-xlarge:                      $spacing-base*3;
$spacing-large:                       $spacing-base*2;
$spacing-medium:                      $spacing-base/2;
$spacing-small:                       $spacing-base/4;
$spacing-xsmall:                      $spacing-base/10;
//
//
// COLORS
//
$black:                               rgb(0,0,0);
$dark-grey:                           rgb(65,65,65);
$grey:                                rgb(120,120,120);
$light-grey:                          rgb(200,200,200);
$yellow:                              yellow;
$blue:                                rgb(102,102,102);

$primary:                             $black;
$secondary:                           white;
$tertiary:                            $light-grey;

$color:                               $primary;
$color-background:                    white;
// FORM COLORS
$placeholder-color:                   $dark-grey;
//
//
// ASSETS
//
$font-assetpath:                      "/assets/fonts/";
$img-assetpath:                       "/images/";