%search-form-defaults {
  font-family:$font-family-secondary;
  font-size:12px;
  border:none;
  border-bottom:1px dotted $grey;
}
.search-input {
  margin-top:10px;
  padding-bottom:5px;
  margin-bottom:$spacing-large;
  width:75%;
  @extend %search-form-defaults;
}
.search-submit {
  margin-top:10px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:inherit;
  border:2px solid $grey;
  color:$grey;
  @extend %search-form-defaults;
}
button.search-submit:hover {
  color:$light-grey;
  border-color:$light-grey;
}