.introduction {
  font-size:$h3;
  font-weight:700;
  p {
    margin-top:0px;
    padding-left:15px;
    padding-right:15px;
  }
}
.home-illustration {
  width:100%;
  height:435px;
  @extend %home-background;
}
